//Colours

/*$color-primary-light
$color-primary-dark
$color-secondary-light
$color-secondary-dark*/

$color-green: #28b485;
$color-green-light: #7ed56f;
$color-green-light-2: #55c57a;

$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-black: #333333;

$color-white: #fff;
$color-black: #000;

//Font
$default-font-size: 1.6rem;

//Grid
$grid-width: 114rem; // the width of a whole col on its own
$gutter-vertical: 8rem; //the size of the gutter underneath
$gutter-horizontal: 6rem; // the size of the gutter on the side (right or left)
